// Pallete
$dark: #252525;
$black: #191919;
$blue: #4584FF;
$red: #F44336;
$grey: #F5F5F5;
$grey: #f8fbff;
 

// Colors
$bg-color: $black; 
$font-color1: white;
$font-color2: $black;


// Global Values
$gb-padding: 30px;
$gb-border-radius: 20px;


// Mixins
@mixin shadow {
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin fancy-blue {
  background: rgb(69,132,255);
  background: linear-gradient(146deg, rgba(69,132,255,1) 0%, rgba(5,79,222,1) 100%);
}

@mixin scrollbar {
  // Scroll bar
  &::-webkit-scrollbar {
    width: 0.5em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: $blue;

  }
}
