@import "reset";
@import "../font/font";
@import 'utility';
@import "imports";
@import "vars";

* {
  font-family: Rubik;
  
}

*, html {
  scroll-behavior: smooth !important;
}

html { 
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: calc(-1 * (100vw - 100%)) !important;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0px !important; 
  padding-top: 0px !important;
}

body {
  background-color: white;
  height: 100vh;
  &::-webkit-scrollbar {
    width: 0.5em;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $blue;

  }
}

.container {
  display: flex;
  width: 100vw;
}

.full {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.error {
  color: $red;
  font-family: monospace;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  gap: 5px;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.flex-between {
  justify-content: space-between;
}

.flex-align {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.float-bottom {
  position: absolute; 
  bottom: 0;
}

.mt-15 {
  margin-top: 15px;
}