@import "reset";
@import "../font/font";
@import 'utility';
@import "imports";
@import "vars";

* {
  font-family: Rubik;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  background-color: $dark;

  &::-webkit-scrollbar {
    width: 0.5em;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $blue;

  }
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  // overflow: auto;
}

.full {
  // height: 100vh;
  width: 100%;
}

.hide {
  display: none;
}

.error {
  color: $red;
  font-family: monospace;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}