/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Rubik Light";
  src: local("Rubik Light"), local("Rubik-Light"), url("../font/Rubik-Light.woff2") format("woff2"), url("../font/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../font/Rubik-Regular.woff2") format("woff2"), url("../font/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.ms-10 {
  margin-left: 10px;
}

.me-10 {
  margin-right: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.ms-15 {
  margin-left: 15px;
}

.me-15 {
  margin-right: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ms-20 {
  margin-left: 20px;
}

.me-20 {
  margin-right: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.ms-25 {
  margin-left: 25px;
}

.me-25 {
  margin-right: 25px;
}

.breadcrumbs {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f8fbff;
  font-size: 13px;
}
.breadcrumbs .button {
  color: rgba(37, 37, 37, 0.9);
}

@media screen and (max-width: 500px) {
  .breadcrumbs {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
  }
}
.btn {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: #4584FF;
  color: white;
  transition: 0.1s linear;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: 100 !important;
  font-style: normal;
  font-size: 14px;
}
.btn:hover {
  transform: scale(1.1);
}
.btn:active {
  transform: scale(1);
}

.btn-active {
  background-color: #252525 !important;
}

.btn-blue {
  background-color: #4584FF !important;
  color: white;
}

.btn-red {
  background-color: #191919 !important;
  color: white;
}

.card-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 70px;
  height: 100%;
  width: 100%;
}

.card {
  max-width: 800px;
  padding: 30px;
  margin-left: 230px;
  color: #252525;
  font-size: 13px;
  font-family: Rubik Light;
  line-height: 20px;
  overflow: auto;
  transition: 0.3s linear;
}
.card blockquote {
  font-style: italic;
  border-left: 5px solid #4584FF;
  padding-left: 30px;
  margin-left: 10px;
}
.card p {
  margin: 0px !important;
}
.card .button {
  margin: 0px !important;
}
.card #card-content h1, .card #card-content h2, .card #card-content h3, .card #card-content h4, .card #card-content h5, .card #card-content h6 {
  margin-bottom: 5px !important;
}
.card #card-content h2 {
  border-bottom: 2px solid #4584ff;
  width: -moz-fit-content;
  width: fit-content;
}
.card #card-content .header1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: baseline;
}

#title {
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #191919;
  font-size: 3em !important;
  font-family: Cambria !important;
  line-height: 40px;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .card-container {
    margin-left: 50px;
  }
  #title {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 500px) {
  .card-container {
    margin-left: 20px;
  }
  .card {
    padding-top: 10px;
  }
  #title {
    margin-top: 10px;
    transition: 0.4s linear;
  }
}
@media screen and (max-width: 700px) {
  .card {
    margin-left: 0px;
  }
}
.toc {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 150px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8fbff;
}
.toc .toc-title {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin: 0px;
}
.toc .H2 {
  margin-left: 1em !important;
}
.toc .H3 {
  margin-left: 2em !important;
}
.toc .H4 {
  margin-left: 3em !important;
}
.toc .H5 {
  margin-left: 4em !important;
}
.toc .H6 {
  margin-left: 5em !important;
}

.side-toc {
  width: 150px;
  position: fixed;
  top: 120px;
  right: 50px;
  z-index: 90000;
  padding: 5px;
  background-color: transparent;
}
.side-toc h1 {
  margin-bottom: 5px !important;
  text-align: start !important;
  padding: 1px 3px 1px 3px !important;
}
.side-toc a {
  font-size: 12px;
  color: #191919;
}
.side-toc #history-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1100px) {
  .side-toc {
    display: none;
  }
}
.confirmbox {
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.2);
  position: absolute;
}
.confirmbox .box {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.confirmbox .box .buttons {
  display: flex;
  gap: 20px;
}

.dropdown {
  width: 100%;
  font-size: 14px;
  border: 1px solid rgba(37, 37, 37, 0.2);
  padding: 4px;
  border-radius: 3px;
}
.dropdown:focus {
  outline: 2px solid #4584FF;
}

#editmode {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
#editmode h1 {
  font-size: 1.4em;
  font-family: cambria;
  font-weight: 100;
}

.btn--dark:hover {
  outline: 2px solid white;
  transform: scale(1);
}

.btn--red {
  background-color: #F44336 !important;
}

.template-list {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.template-list h2 {
  font-size: 1.4em;
  font-family: cambria;
  font-weight: 100;
  margin-bottom: 3px;
}
.template-list select {
  padding: 10px;
  width: 100%;
  border: none;
  color: white;
  background-color: #252525;
}
.template-list select::-webkit-scrollbar {
  width: 0.5em;
}
.template-list select::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.template-list select::-webkit-scrollbar-thumb {
  background-color: #4584FF;
}

.editor-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: 999999999;
}

#editor {
  width: 60vw;
  height: 100%;
  padding: 30px;
  gap: 10px;
  background-color: white;
  color: #191919;
}

.textbox {
  width: 100%;
}
.textbox h1 {
  margin: 0px;
  font-weight: 100;
  color: #4584FF;
}

#textarea {
  width: 100%;
  height: 84%;
  border: none;
  outline: none;
  margin-top: 20px;
  font-size: 13px;
  line-height: 17px;
  resize: none;
}
#textarea::-webkit-scrollbar {
  width: 0.5em;
}
#textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#textarea::-webkit-scrollbar-thumb {
  background-color: #4584FF;
}

.hr {
  margin: 10px 0px;
  border: 1px solid rgba(37, 37, 37, 0.2);
}

.editor-options {
  width: 150px;
  border-left: 1px solid rgba(37, 37, 37, 0.2);
  padding-left: 10px;
}
.editor-options .tab-options h1 {
  margin: 0px;
  font-size: 15px;
}

.path-select {
  font-size: 14px;
}

.table .category {
  width: -moz-fit-content;
  width: fit-content;
}

.invalid {
  outline: 2px solid #F44336;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.checkbox input {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  accent-color: #4584FF;
}
.checkbox span {
  vertical-align: middle;
  color: #727272;
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  #editor {
    width: 80vw;
  }
}
@media screen and (max-width: 800px) {
  #editor {
    width: 100vw;
  }
}
.input {
  outline: none;
  border: 1px solid rgba(37, 37, 37, 0.2);
  padding: 4px;
  font-size: 12px;
  border-radius: 3px;
}
.input:focus {
  outline: 2px solid #4584FF;
}

.boxes {
  border-radius: 3px;
}

.profilebox {
  float: right;
  display: block;
  min-height: 100px;
  width: 250px;
  border-radius: 10px;
  padding: 8px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: #f8fbff;
  font-size: 12px;
  transition: 0.5s linear;
}
.profilebox .tab-buttons {
  text-align: center;
}
.profilebox .profile--image {
  max-height: 500px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s linear;
}
.profilebox .profile--title {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  padding: 6px;
  margin-bottom: 10px;
  background-color: #4584FF;
  color: white;
  text-align: center;
  font-size: 16px;
}

.profilebox ul {
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
}
.profilebox td {
  padding: 0px;
}
.profilebox .category--name {
  width: 100%;
  border-radius: 5px;
  background-color: #4584FF;
  color: white;
  text-align: center;
  font-size: 13px;
}
.profilebox .entry--name {
  font-weight: bold;
  vertical-align: text-top;
  text-align: start;
  min-width: 100px;
}
.profilebox .entry--value {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .profilebox {
    width: 230px;
    font-size: 11px;
    line-height: 15px;
  }
  .profilebox .profile--image {
    max-height: 350px;
  }
  .profilebox table {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .profilebox {
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .profilebox .profile--image {
    max-height: 500px;
  }
  .profilebox .category--name {
    padding: 4px;
  }
}
.searchbox {
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 5px;
  background-color: #252525;
  color: white;
  font-size: 12px;
  font-family: Rubik;
}

.searchbox-area {
  margin-right: 5px;
  width: 100%;
}

#suggestions {
  position: absolute;
  background-color: #252525;
  width: 62%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.suggestion-item {
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  font-size: 13px;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.suggestion-item:hover {
  background-color: #4584FF;
}

.sidebar {
  position: fixed;
  height: 100%;
  min-height: 400px;
  z-index: 1;
}

#sidebarobj {
  left: 0px;
}

.user {
  width: 250px;
  margin-left: 40px;
  padding: 20px;
  padding-left: 10px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  left: 0px;
  z-index: -1;
  background-color: #191919;
  color: white;
  transition: 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.titles {
  margin: 10px 3px;
}
.titles .title {
  margin: 0px;
  font-size: 1.4em;
  font-family: cambria;
  font-weight: 100;
}
.titles .subtitle {
  margin: 0px;
  font-size: 12px;
  font-family: cambria;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}

.nav-links {
  line-height: 30px;
  font-family: Rubik Light;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-links .button--showsub {
  float: right;
  color: rgba(255, 255, 255, 0.2666666667);
  transition: 0.2s ease-in-out;
  transform: scale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.nav-links .button--showsub:hover {
  transform: scale(1.1);
}
.nav-links .button--showsub:active {
  transform: scale(0.9);
}
.nav-links .button--mainnav .button {
  background-color: transparent;
  text-align: left;
  transition: 0.2s linear !important;
}
.nav-links .button--mainnav .button:hover {
  color: #4584FF;
}
.nav-links .button--mainnav .button--autolink {
  color: white;
}
.nav-links .button--subnav {
  font-size: 13px;
  line-height: 15px;
  margin-left: 10px;
}
.nav-links .hide-subnav {
  display: none;
}
.nav-links .button--active .button {
  color: #4584FF !important;
}

.close {
  display: none;
  float: right;
  margin-top: 10px;
  margin-right: -5px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.close:hover {
  background-color: #4584FF;
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.close:active, .close :focus {
  transform: scale(0.9);
}

@media screen and (max-width: 900px) {
  .card {
    margin-left: 0px;
  }
  #sidebarobj {
    left: -500px;
  }
}
.button--sidebaredit {
  width: 100%;
  padding: 2px 5px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
  z-index: 999;
  transition: 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--sidebaredit:hover {
  transform: scale(1.1);
}
.button--sidebaredit:hover svg {
  fill: #4584ff;
}
.button--sidebaredit:active, .button--sidebaredit :focus {
  transform: scale(0.9);
}
.button--sidebaredit svg {
  fill: rgba(255, 255, 255, 0.3);
}

.editor-bar {
  height: 100%;
  width: 40px;
  padding: 0px;
  padding-top: 5px;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #252525;
}

.warning {
  position: relative;
  transition: all 0.4s ease;
}
.warning .content {
  position: absolute;
  right: 0px;
  top: 30px;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  margin: 10px 0px;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #4584FF;
  color: white;
}

.spoiler {
  background-color: #252525 !important;
}

@media screen and (max-width: 500px) {
  .warning {
    width: 50px;
    top: -40px;
    right: 10px;
    position: absolute;
  }
  .warning span {
    font-size: 12px !important;
    width: 90px !important;
    text-align: center;
  }
}
.button {
  padding: 3px 5px 3px 5px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #191919;
  font-weight: bold;
  transition: 0.3s linear;
  cursor: pointer;
}
.button:hover {
  background-color: #4584FF;
  color: white;
}

.button--active {
  color: #4584FF;
}

.button--autolink {
  background-color: transparent;
  color: #4584FF;
  font-weight: 400;
}

.button--error {
  color: #F44336;
  font-weight: 400;
}
.button--error:hover {
  background-color: #F44336;
  color: white;
}

.button--toc {
  padding: 1px 3px 1px 3px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px;
  line-height: 16px;
  border-radius: 3px;
  color: #4584FF;
  text-decoration: none;
  font-weight: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.toggle {
  width: 26px;
  display: flex;
}
.toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 26px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 4px;
  position: relative;
}
.toggle label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  width: 13px;
  height: 11px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  transition: 0.3s;
}
.toggle input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: #4584FF;
}
.toggle label:active:after {
  width: width30px;
  border: 2px solid #4584FF;
}

* {
  font-family: Rubik;
}

*, html {
  scroll-behavior: smooth !important;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: calc(-1 * (100vw - 100%)) !important;
}

body {
  background-color: white;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #4584FF;
}

.container {
  display: flex;
  width: 100vw;
}

.full {
  width: 100%;
  height: 100%;
}

.hide {
  display: none !important;
}

.error {
  color: #F44336;
  font-family: monospace;
}

.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.flex {
  display: flex;
  gap: 5px;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.flex-between {
  justify-content: space-between;
}

.flex-align {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.float-bottom {
  position: absolute;
  bottom: 0;
}

.mt-15 {
  margin-top: 15px;
}/*# sourceMappingURL=style.css.map */