@use '../../../css/vars' as *;

.editor-container {
  // Block
  position: fixed;
  height: 100%;
  width: 100%;

  // Layout
  display: grid;
  place-items:  center;
  
  // Element
  background-color: rgba(0, 0, 0, 0.36);

  // Misc
  z-index: 50;
}

#editor {
  
  // Block
  width: 60vw;
  height: 100%;
  padding: 30px;

  // Layout
  gap: 10px;

  // Element
  background-color: white;
  color: $black;
}

.textbox {
  // Block
  width: 100%;

  // Children
  h1 {
    // Block
    margin: 0px;

    // Element
    font-weight: 100;
    color: $blue;
  }
}

#textarea {
  // Block
  width: 100%;
  height: 84%;
  border: none;
  outline: none;
  margin-top: 20px;
  
  // Element
  font-size: 13px;
  line-height: 17px;

  // Misc
  resize: none;

  @include scrollbar;
}

.hr {
  // Block
  margin: 10px 0px;
  border: 1px solid rgba($dark, 20%);
}

.editor-options {
  // Block
  width: 150px;
  border-left: 1px solid rgba($dark, 20%);
  padding-left: 10px;

  // Children
  .tab-options {
    h1 {
      // Block
      margin: 0px;

      // Element
      font-size: 15px;
    }
  }
}

.path-select {
  font-size: 14px;  
}

.table {
  .category {
    width: fit-content;
  }
}

.invalid {
  outline: 2px solid $red;
}

.checkbox {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  // text-align: cente;
  input {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    accent-color: $blue;

  }
  span  {
    vertical-align:middle;
    color: lighten($dark, 30%);
    font-size: 12px;
  }
}

// Media Query
@media screen and (max-width: 1000px) {
  #editor {
    width: 80vw;
  }
} 

@media screen and (max-width: 800px) {
  #editor {
    width: 100vw;
  }
} 