@use '../../../css/vars' as *;

.breadcrumbs {
  // Block
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  
  // Element 
  background-color: $grey;

  font-size: 13px;
  
  // Misc
  // @include shadow;

  .button {
    color: rgba($dark, 90%);
  }
}

@media screen and (max-width: 500px) {
  .breadcrumbs {
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
  }
}