@use '../../../css/vars' as *;

$editbar--bg: transparent;


#editmode {
  width: fit-content;
  height: 100%;
  // display: flex;
  // flex-direction: column;

  h1 {
    font-size: 1.4em;
    font-family: cambria;
    font-weight: 100;
  }
}


.btn--dark {
  &:hover {
    outline: 2px solid white;
    transform: scale(1);
  }
}

.btn--red {
  background-color: $red !important;
}


.template-list {
  width: 100%;
  user-select: none;
  h2 {
    font-size: 1.4em;
    font-family: cambria;
    font-weight: 100;
    margin-bottom: 3px;
  }
  select {
    padding: 10px;
    width: 100%;
    border: none;
    color: white;
    background-color: $dark;
    @include scrollbar;
  }
}