@use '../../../css/vars' as *;

.searchbox {
  // Block
  width: 100%;
  border-radius: 4px;
  border: none;
  padding: 5px;
  
  

  // Element
  background-color: $dark;
  // background-color: lighten($blue, 15%);
  color: white;
  font-size: 12px;
  font-family: Rubik;


}

.searchbox-area {
  margin-right: 5px;
}

#suggestions {
  position: absolute;
  background-color: $dark;
  width: 62%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.suggestion-item {
  // position: absolute;
  padding: 5px;
  border-top: 1px solid rgba(white, 12%);

  font-size: 13px;

  cursor: pointer;
  transition: 0.1s ease-in;
  &:hover {
    // transform: scale(1.2);
    // outline: 3px solid white;
    // border-top: 2px solid $blue;
    background-color: $blue;
  }
  
} 